pandas==1.1.2
numpy==1.20.1
cryptofeed==1.6.2
ta==0.5.17
ccxt==1.41.9
backtrader==1.9.76.123
Django==2.2.4
arctic==1.79.4
schedule==1.0.0
requests==2.25.1
redis==3.5.3
scipy==1.6.0
plotly==4.14.3
websockets==8.1
